body {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


img {
    width: 360px;
    height: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.gallery img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}