* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: regular;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 1);
}

.feedback-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.feedback-form label{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feedback-form input{
    max-width: 360px;
    height: 40px;
    padding: 0;
    padding-left: 16px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 4px;
}

.feedback-form input:hover, .feedback-form input:focus{
    border-color: rgba(0, 0, 0, 1);
}

.feedback-form textarea{
    max-width: 360px;
    height: 80px;
    resize: none;
    padding-top: 8px;
    padding-left: 16px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 4px;
    margin-bottom: 16px;
}

.feedback-form textarea:hover, .feedback-form textarea:focus{
    border-color: rgba(0, 0, 0, 1);
}

.feedback-form button{
    width: 95px;
    height: 40px;
    background-color: rgba(78, 117, 255, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

.feedback-form button:hover, .feedback-form button:focus{
    background-color: rgba(108, 140, 255, 1);
}